spring:
  application:
    name: registry
server:
  port: 8761
eureka:
  client:
    registerWithEureka: true
    fetchRegistry: false
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
  instance:
    hostname: ${HOST:registry}
    appname: registry